*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav */
@media (max-width:800px){
    .menu__hamburguer{
        display: flex;
    }
    .menu__item{
        --clip:0;
        overflow: hidden;
    }
    .menu__item--active{
        --transform:rotate(0);
        --background: #5e7094;
    }
    .menu__item--show{
        background-color: var(--background);
    }
    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }
    .menu__links--show{
        transform: unset;
        width: 100%;
    }
    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }
    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }
    .menu__nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }
    .menu__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
}

/* Footer */

@media screen and (max-width:800px){
    .footer .footer__container{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}